{{#if errors}}
  <div class={{joinedErrorClasses}}>
    {{#each errors as |error index|}}
      <div id={{concat errorId "-" index}} role="alert">
        {{#if error.message}}
          {{error.message}}
        {{else}}
          {{error}}
        {{/if}}
      </div>
    {{/each}}
  </div>
{{/if}}
