<label for={{identifier}}>
  <input
    id={{identifier}}
    type="radio"
    value={{value}}
    checked={{is-equal (get object propertyName) value}}
    onclick={{action 'radioClicked'}}
    name={{name}}
  >
  {{label}}
</label>
