<h2 id="title">Welcome to Ember Form For</h2>

{{#form-for object update=(action update) reset=(action reset) submit=(action submit) as |f|}}
  {{f.text-field "firstName"}}
  {{f.text-field "lastName"}}
  {{f.select-field "gender" "unknown male female"}}
  {{f.date-field "birthDate"}}

  {{f.email-field "emailAddress"}}
  {{f.text-field "userName"}}
  {{f.password-field "password" hint="Must be at least 6 characters long"}}

  {{f.checkbox-field "terms" label="I agree to the Terms of Service"}}

  {{f.reset  "Clear form"}}
  {{f.submit "Create account"}}
{{/form-for}}

{{outlet}}

<a class="github-fork-ribbon" href="http://martndemus.github.io/ember-form-for" title="GitHub Repo">GitHub Repo</a>
